<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Easy Distributor</title>
  <meta name="description" content="">

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

  <header class="container">
    <div class="row mt-4">
      <div class="col-12 text-center">
        <h1>Easy Distributor</h1>
        <p class="lead">Error</p>
      </div>
    </div>
  </header>

  <div class="container">
    {{err}}
  </div>

</body>

</html>
